.req_vs {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 400px;
  box-shadow: 0 2px 5px #0003;
  z-index: 1000;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('../assets/public/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30vmin;
  flex-wrap: wrap;
  max-width: 60vmin;
  width: 100%;
}

.squares {
  background-color: #ead5ba;
  color: #13233b;
  font-size: 400%;
  width: 20vmin;
  height: 20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose {
  background-color: #05bcaa;
  margin-bottom: 10px;
  font-size: 100%;
  font-weight: bold;
  width: 20vmin;
  height: 8vmin;
  border-radius: 10px;
  margin-inline: 2vmin;
}

h1 {
  color: white;
}



